node_modules/
dist/
dist-ssr/
*.local

# Logs
logs
*.log
npm-debug.log*

# Env
.env
.env.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
